/* ==UserStyle==
@name         Hackernews Black Theme 
@namespace    github.com/k4rli/hackernews-black-theme
@version      1.0.0
@description  Hackernews black dark theme
@author       k4rli
@homepageURL  https://github.com/k4rli/hackernews-black-theme
@updateURL    https://raw.githubusercontent.com/k4rli/hackernews-black-theme/master/hn.user.styl
==/UserStyle== */

@-moz-document domain("news.ycombinator.com") {

    body,
    #hnmain {
        background: #000;
        zoom: 1.15;
    }

    .comment * {
        color: #FFF;
        zoom: 0.95;
    }

    #hnmain .title a {
        color: white !important;
    }

    #hnmain .subtext>a:last-child {
        color: white;
    }

    #hnmain a {
        color: #888;
    }

    #hnmain .title a:visited,
    #hnmain .subtext a:visited {
        color: #888 !important;
    }

    td[bgcolor="#ff6600"] {
        background-color: transparent;
    }

    td[bgcolor="#ff6600"] a {
        color: rgba(255, 255, 255, 0.75) !important;
    }

    .pagetop {
        color: white;
    }

    form {
        opacity: 0.8;
    }

    .votearrow {
        background: none;
        border-left: 2px solid #aaa;
        border-top: 2px solid #aaa;
        width: 5px;
        height: 5px;
        margin: 4px 6px;
        padding: 0;
        transform: rotate(45deg);
    }

    /* bottom search bar */
    input[type="text"],
    /* comment */
    form textarea,
    /* submit comment */
    form input[type="submit"] {
        background-color: #000;
        color: #FFF;
        border-style: solid;
    }
}

@-moz-document url-prefix("https://news.ycombinator.com/submit"),
url-prefix("https://news.ycombinator.com/forgot"),
url-prefix("https://news.ycombinator.com/login") {

    body,
    a {
        color: #FFF;
    }
}
